@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* start basic rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .2s ease-in-out;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
}
:root {
    --primary-clr: #F80B6F;
    --secondary-clr: #D162FB;
    --white-clr: #ffffff;
    --text-clr: #999999;
}
::selection {
    background-color: var(--primary-clr);
    color: var(--white-clr);
}
body {
    height: 10000px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
p {
    line-height: 1.5;
    color: var(--text-clr);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: var(--black-clr);
}
img {
    max-width: 100%;
    height: auto;
}
.section {
    padding: 2rem 5%;
}
@media screen and (max-width: 991px) {
    .section {
        padding: 2rem 1rem;
    }
}
.heading {
    margin-bottom: 2rem;
    text-align: center;
}
.heading h2 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: var(--primary-clr);
    padding-bottom: 2px;
}
@media screen and (max-width: 576px) {
    .heading h2 {
        font-size: 2rem;
    }
}
.btn {
    display: inline-block;
    padding: 13px 25px;
    background-color: var(--primary-clr);
    border-radius: 40px;
    box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 30%);
    font-size: 1.1rem;
    color: var(--white-clr);
    letter-spacing: 1px;
}
.btn:hover {
    letter-spacing: 3px;
}
/* end basic rules */
/* header section starts */
header {
    position: fixed;
    top: 1rem;
    width: calc(100% - 2rem);
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
    padding: 15px 30px;
    background-color: var(--white-clr);
    border-radius: 30px;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--secondary-clr);
}
.brand i {
    color: var(--primary-clr);
    margin-right: .25rem;
}
#nav-input {
    display: none;
}
.navbar a {
    display: inline-block;
    color: var(--primary-clr);
}
.navbar a:not(:last-child) {
    padding-right: 30px;
}
.navbar a:hover {
    color: var(--secondary-clr);
}
.nav-btn {
    display: none;
}
@media screen and (max-width: 768px) {
    .nav-btn {
        display: block;
        font-family: "Font Awesome 5 Free";
        font-size: 1.75rem;
        font-weight: 900;
        color: var(--primary-clr);
        cursor: pointer;
    }
    .nav-btn::before {
        content: "\f0c9";
    }
    #nav-input:checked ~ .nav-btn::before {
        content: "\f00d";
    }
    .navbar {
        position: absolute;
        top: -100rem;
        left: 0;
        width: 100%;
        margin-top: 1rem;
        z-index: -1;
        padding: 1rem;
        background-color: var(--white-clr);
        border-radius: 30px;
        opacity: 0;
        transition: all .3s ease-in-out;
    }
    #nav-input:checked ~ .navbar {
        opacity: 1;
        top: 100%;
    }
    .navbar a {
        display: block;
        text-align: center;
        padding: 15px 0;
    }
    .navbar a:not(:last-child) {
        padding-right: 0;
    }
}
/* header section ends */
/* home section starts */
.home {
    position: relative;
    min-height: 100vh;
    padding: 0 1rem 1.5rem;
    background-image: linear-gradient(
        rgba(198, 59, 250,.8),
        rgba(198, 59, 250,.8)
    );
    overflow: hidden;
    z-index: 0;
}
.home::before {
    content: "";
    position: absolute;
    bottom: -20rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 120%;
    border-top: 70vh solid var(--white-clr);
    border-radius: 50%;
}
@media screen and (max-width: 768px) {
    .home::before {
        display: none;
    }
}
.home-content {
    padding: calc(55px + 6rem) 0 5rem;
    text-align: center;
}
.home-content h1 {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--white-clr);
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
    .home-content h1 {
        font-size: 2.3rem;
        line-height: 1.3;
    }
}
.home-content p  {
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
    font-size: 17px;
    color: var(--white-clr);
    margin-bottom: 1.25rem;
}
.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 1.5rem;
}
.box {
    flex: 0 0 15rem;
    padding: 1.5rem 1.25rem;
    background-color: var(--white-clr);
    box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 30%);
    border-radius: 8px;
    text-align: center;
}
.box-icon {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 auto 1.25rem;
    border-radius: 50%;
    background-color: var(--secondary-clr);
    font-size: 1.5rem;
    color: var(--white-clr);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover .box-icon {
    background-color: var(--primary-clr);
}
.box-title {
    color: var(--primary-clr);
    margin-bottom: .75rem;
}
.box:hover .box-title {
    color: var(--secondary-clr);
}
.box-desc {
    font-size: 15px;
}
/* end section starts */
/* about us section starts */
.about-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}
@media screen and (max-width: 768px) {
    .about-row {
        flex-direction: column;
    }
}
.about-text,
.about-img {
    flex: 1 1 calc(50% - 1.5rem);
    width: 50%;
}
@media screen and (max-width: 768px) {
    .about-text {
        width: 100%;
        order: 2;
    }
    .about-img {
        width: 80vw;
        order: 1;
    }
}
.about-text h3 {
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 1.3;
    color: var(--primary-clr);
}
.about-text p {
    margin: 10px 0 15px;
}
/* about us section ends */
/* our teacher section starts */
.our-teacher {
    background-color: #F9F9F9;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}
.teacher {
    flex: 0 0 18rem;
    padding: 1.5rem 1.25rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    background-color: var(--white-clr);
    text-align: center;
}
.teacher-img {
    filter: grayscale(1);
}
.teacher:hover .teacher-img {
    filter: grayscale(0);
}
.teacher-name {
    color: var(--primary-clr);
    margin: 1rem 0 .5rem;
}
.teacher .social-media {
    margin-top: 1rem;
}
.teacher .social-media a {
    display: inline-block;
    margin: 0 5px;
    font-size: 1.2rem;
    color: var(--primary-clr);
}
.teacher .social-media a:hover {
    color: var(--secondary-clr);
}
/* our teacher section ends */
/* start our courses */
.our-courses .row {
    gap: 0;
}
.course {
    flex: 0 0 20rem;
    margin: 1.5rem .75rem;
    padding: 1.5rem 1.25rem;
    border-radius: 8px;
    box-shadow: .3rem .3rem 0 var(--secondary-clr);
    text-align: center;
}
.course-icon {
    width: 5rem;
    height: 5rem;
    margin: -3rem auto 1rem;
    background-color: var(--primary-clr);
    border-radius: 50%;
    box-shadow: 0 0 0 .5rem inset;
    border: .5rem solid var(--white-clr);
    border-left-color: var(--primary-clr);
    border-right-color: var(--primary-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    color: var(--white-clr);
}
.course-name {
    color: var(--secondary-clr);
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
/* end our courses */
/* reviews section starts */
.reviews {
    background-color: #F9F9F9;
}
.reviews .row {
    margin-top: 2.5rem;
}
.student-review {
    flex: 0 0 18rem;
    padding: 1.5rem 1.25rem;
    margin-top: 2.5rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    background-color: var(--white-clr);
    text-align: center;
}
.student-img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: -65px auto 1rem;
    border: .5rem solid var(--primary-clr);
    border-left-color: var(--secondary-clr);
    border-bottom-color: var(--secondary-clr);
}
.student-name {
    color: var(--primary-clr);
    margin-bottom: .5rem;
}
.review-stars {
    margin-top: .75rem;
}
.review-stars li {
    color: var(--secondary-clr);
}
/* reviews section ends */